

* {
  box-sizing: border-box;
}


/* Add a gray background color with some padding */
body {
  font-family: Helvetica, sans-serif;
  padding: 20px;
  background: black;
  cursor: url("Normal.cur"), default;
}

marquee {
      font-size: 30px;
      font-weight: 800;
      color: #96dcef;
      font-family: Courier;

      }

p {
  overflow: hidden;
  max-width: 106ch;

}

a {
  color: #655aa9;
  cursor: url("Horizontal.cur"), url("custom.cur"), default;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
   cursor: url("Alternate.cur"), url("custom.cur"), default;
}

a:hover {
  background-color: #ddd;
  color: black;
  cursor: url("Alternate.cur"), url("custom.cur"), default;

}


.text{
  cursor: url("Handwriting.cur");

}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #96dcef;
  color: white;
}

.round {
  border-radius: 50%;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  color: #655aa9;
  background: black;
  outline: 1px solid;
  outline-color: #96dcef;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;

}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  color: white;
   background-color: black;
   padding: 20px;
   margin-top: 20px;
   outline: 1px solid;
   outline-color: #b6d33b;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  color: white;
  padding: 20px;
  text-align: center;
  background: black;
  margin-top: 20px;
  outline: 1px solid;
  outline-color: #96dcef;
}

    
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
